body{
margin:0;
font-family:Arial;
background-image:url("bg.jpg");
background-size:cover;
background-attachment:fixed;
color:white;
}

/* شريط التنقل */
nav{
background:#000000aa;
padding:15px;
text-align:center;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
font-size:18px;
}

button{
padding:8px 15px;
border:none;
border-radius:8px;
cursor:pointer;
}

/* الحاوية */
.container{
text-align:center;
padding:40px;
}

/* الصورة الشخصية */
.profile{
width:150px;
height:150px;
border-radius:50%;
object-fit:cover;
border:4px solid cyan;
}

/* البطاقات */
.card{
background:#000000aa;
margin:15px;
padding:20px;
border-radius:12px;
}

/* التعليقات */
.comment{
background:#000000aa;
margin:15px;
padding:15px;
border-radius:12px;
}

/* الوضع الفاتح */
.light{
background:white !important;
color:black;
}
